
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <nav>
      <div class="container">
        <div class="navbar-footer">
          <p class="navbar-brand">Journal footer</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">FOOTER</a></li>
            <li><a href="#">PLACEHOLDER</a></li>
            <li><a href="#">LINKS</a></li>
          </ul>
      </div>
    </nav>
  </div>
</div>
</body>
</html>
